#root {
  text-align: center;
  background-color: #F9FDFF
  
  ;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}



.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

/*Navbar */



.navbar {
  background-color: white;
  border-bottom: 1px solid #e7e7e7;
}

.navbar-nav .nav-link {
  margin-right: 10px;
  font-size: 16px;
  color: #333;
}

.navbar-toggler {
  border: none;
  margin-left: 30px;
}

.link-navbar {
  margin-left: 10px;
}

/* Stili per dispositivi sotto i 768px (smartphone) */
@media (max-width: 768px) {
  .navbar .navbar-toggler {
    margin-left: 0; 
  }

  /* Aumenta la dimensione del brand */
  .navbar .navbar-brand {
    font-size: 24px;
  }

  /* Aumenta la dimensione dei link della navbar per maggiore visibilità */
  .navbar-nav .nav-link {
    font-size: 30px;
    padding: 12px;
  }
}

/* Stili per dispositivi tra 768px e 1000px */
@media (min-width: 768px) and (max-width: 1000px) {
  /* Sposta il brand completamente a sinistra e il menu a destra */
  .navbar .navbar-brand {
    text-align: left;
    margin-right: auto;
  }

  .navbar-collapse {
    justify-content: flex-end;
  }

  .navbar-nav .nav-link {
    font-size: 16px;
    padding: 8px;
  }
}

/* Stili per schermi grandi (oltre 1000px) */
@media (min-width: 1000px) {
  .navbar {
    padding: 10px 15px;
  }
}










/* Footer */

.footer {
  padding: 1.5rem 0;
  background-color: #ffffff;
  width: 100vw;
  border-top: 1px solid #D9D9D9;
  
}

.social-icons {
  display: flex;
  align-items: center;
  justify-content: center;
  margin:0 ;
}

.social-icon {
  font-size: 1.5rem;
  margin-left: 10px;
  color: #000;
  cursor: pointer;
}

.logo-footer {
  width: 50px;
  height: 50px;
  margin-right: 10px;
}

.poweredBy{
  padding-top: 3cm;
  justify-content: center;
}